extends ../layout

block main
	include ../error
		
	form(action="/books/" + book.id + "?_method=PUT", method="post")
		include form
	a(href="../books") &larr; Back
	| | 
	a(href="/books/" + book.id +  "/delete") Delete Book
	h2 Loan History
	table
		thead
			tr
				th Book
				th Patron 
				th Loaned on
				th Return by 
				th Returned on
				th Action
		tbody
			each loan in loans
				tr
					td
						a(href='/books/' + book.id)= book.title
					td
						a(href='/patrons/' + loan.Patron.id)= loan.Patron.first_name + " " + loan.Patron.last_name
					td= d(loan.loaned_on)
					td= d(loan.return_by)
					td= d(loan.returned_on)
					td
						if !loan.returned_on
							a.button(href="/loans/" + loan.id + "/return") Return Book
