extends ../layout

block main
	h1= book.title
	p= book.author
	p= book.first_published
	p= book.genre
	p= book.id
	a(href="../books") &larr; Back
	| | 
	a(href="/books/" + book.id + "/edit") Edit Book
	| | 
	a(href="/books/" + book.id +  "/delete") Delete Book
	h2 Loan History
	table
		thead
			tr
				th Book
				th Patron 
				th Loaned on
				th Return by 
				th Returned on
				th Action
		tbody
				tr
					td
						a(href='book_detail.html')= book.title
					td
						a(href='patron_detail.html') Andrew Chalkley
					td= book.loaned_on
					td 2015-12-19
					td
					td
						a.button(href="/loans/" + book.id + "/return") Return Book
