extends ../layout

block main
	body
		h1 Overdue Loans
		p
			a.button(href="/loans/new") Create New Loan
		p
			| Filters 
			a(href="all_loans.html") All
			|  | 
			a(href="loans/overdue") Overdue
			|  | 
			a(href="checked_loans.html") Checked Out
		table
			thead
				tr
					th Book
					th Patron 
					th Loaned on
					th Return by 
					th Returned on
					th Action
			tbody
				each loan in loans
					tr
						td
							a(href="/books/" + loan.book_id)= loan.book_id
						td
							a(href="patron_detail.html")=loan.patron_id
						td= loan.loaned_on
						td= loan.return_by
						td= loan.returned_on
						td
							a.button(href="/loans/" + loan.id +  "/delete") Return Book