div
	label(for="first_name") First name:
	input(type="text", name="first_name" value=patrons.first_name)
div
	label(for="last_name") Last Name:
	input(type="text", name="last_name" value=patrons.last_name)
div
	label(for="address") Address:
	input(type="text", name="address" value=patrons.address)
div
	label(for="zip_code") Zip Code:
	input(type="integer", name="zip_code" value=patrons.zip_code)
	div
	label(for="email") Email:
	input(type="text", name="email" value=patrons.email)
input(type="submit")